<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sec.sesl.org.punlabs.phichitpittayakom">
    <application android:label="@string/applicationName"
        android:supportsRtl="true"
        android:icon="@mipmap/launcher_icon"
        android:roundIcon="@mipmap/launcher_icon"
        android:theme="@style/OneUITheme">
        <meta-data android:name="SamsungBasicInteraction"
            android:value="SEP10" />

        <meta-data android:name="com.samsung.android.icon_container.has_icon_container"
            android:value="true" />

        <meta-data android:name="com.samsung.android.icon_container.feature_appicon"
            android:value="ADAPTIVEICON_SHADOW" />

        <meta-data android:name="theming-meta"
            android:value="samsung_metadata" />

        <meta-data android:name="theming-meta-xml"
            android:value="@xml/samsung_metadata" />

        <activity android:name="org.punlabs.phichitpittayakom.PhichitpittayakomApplication"
            android:launchMode="singleTop"
            android:exported="true">
            <meta-data android:name="com.sec.android.app.launcher.icon_theme"
                android:value="themeColor" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.punlabs.phichitpittayakom.activity.SearchStudentActivity" />
        <activity android:name="org.punlabs.phichitpittayakom.activity.AllStudentActivity" />
    </application>
</manifest>
